.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin: auto
}
  
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

th, td {
  border: 1px solid #000000;
}
tr:first-child {
  background-color: #888888;
}
tr:nth-child(even) {
  background-color: #dddddd;
}

.loader{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -60px;
  margin-top: -60px;
}