<!-- Afficher les resultats de l'analyse -->
<h1 class="text-center mb-4">{{'upload.qualitySetting.title' | translate}}</h1>
<div class="border border-dark mb-5 p-2">
  <p>{{'upload.qualitySetting.titleQuality' | translate}}</p>
  <div *ngFor="let col of firstLine" class="px-5">
    <p class="mb-0"> {{col.colName}} ( empty: {{col.dataEmpty*100}}%, false: {{col.dataError*100}}% ) </p>
  </div>
</div>
<!-- Afficher 10 premieress lignes -->
<div class="mb-5">
  <h3 class="text-center mb-2">{{'upload.qualitySetting.titleTable' | translate}}</h3>
  <div class="border border-dark">
    <div class="table-data" style="overflow:scroll;height: 450px;"  *ngIf="!isFinish">
        <table>
          <tr>
            <th class="text-center px-1" *ngFor="let col of firstLine">
              {{col.colName}}
            </th>
          </tr>
          <tr *ngFor="let row of dataErrorOrEmpty">
            <td class="px-1" *ngFor="let col of firstLine">
              {{row[col.colName]}}
            </td>
          </tr>
        </table>
    </div>
  </div>
</div>

<!-- Afficher les configurations -->
<div class="">
  <div *ngIf="!isFinish">
      <h3 class="text-center mb-2">{{'upload.qualitySetting.titleConfiguration' | translate}}</h3>
      <div class="border border-dark p-2">
        <div class="d-flex align-items-center mb-3">
          <p class="mb-0 mr-3">{{'upload.qualitySetting.selectCol' | translate}}</p>
          <select (change)="selectCol($event)" [value]="firstLine[0].id" style="min-width:150px;">
            <option [value]="col.id" *ngFor="let col of firstLine">
              {{col.colName}}
            </option>
          </select>
        </div>
        <div *ngFor="let col of firstLine">
          <div *ngIf="col.id == selectedColID">
            <div class="d-flex mb-3 align-items-center">
              <p class="mb-0 mr-3" style="width: 100%;">{{'upload.qualitySetting.fieldFail' | translate}}</p>
              <select class='form-control' (change)="changeValueFail(col.id,$event)" [value]='valueFieldFail[col.id]'>
                <option value='deleterow'>{{'upload.qualitySetting.deleterow' | translate}}</option>
                <option value='deletefield'>{{'upload.qualitySetting.deleteField' | translate}}</option>
                <option value='fillin'>{{'upload.qualitySetting.fillin' | translate}}</option>
                <option value='0'>{{'global.no' | translate}}</option>
              </select>
              <input class="ml-3" placeholder="..." type="text" *ngIf="optionsOptimisationDataFail[col.id].isFillIn" [(ngModel)]="optionsOptimisationDataFail[col.id].fill" />
            </div>
            <div class="d-flex align-items-center">
              <p class="mb-0 mr-3" style="width: 100%;">{{'upload.qualitySetting.fieldEmpty' | translate}}</p>
              <select class='form-control' (change)="changeValueEmpty(col.id,$event)" [value]='valueFieldEmpty[col.id]'>
                <option value='deleterow'>{{'upload.qualitySetting.deleterow' | translate}}</option>
                <option value='deletefield'>{{'upload.qualitySetting.deleteField' | translate}}</option>
                <option value='fillin'>{{'upload.qualitySetting.fillin' | translate}}</option>
                <option value='0'>{{'global.no' | translate}}</option>
              </select>
              <input class="ml-3" placeholder="..." type="text" *ngIf="optionsOptimisationDataEmpty[col.id].isFillIn" [(ngModel)]="optionsOptimisationDataEmpty[col.id].fill" />
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
  

<div class="text-center mt-3" *ngIf="!isFinish">
  <button type="button" class="btn btn-success btn-s" (click)="submit()">{{'global.btnNext' | translate}}</button>
</div>
<div class="text-center mt-3" *ngIf="isFinish">
  <button type="button" class="btn btn-success btn-s" (click)="goHome()">{{'upload.uploadValidation.uploadOtherFile' | translate}}</button>
</div>

<div class="loader" *ngIf="isLoading"></div>