<div class="height-350 border border-dark mb-5 p-2">
  <p>{{'upload.fileQuality.title' | translate}}</p>
  <div *ngFor="let col of firstLine" class="px-5">
    <p class="mb-0"> {{col.colName}} ( empty: {{col.dataEmpty*100}}%, false: {{col.dataError*100}}% ) </p>
  </div>
  <table>
    <tr>
      <th *ngFor="let col of firstLine">
        {{col.colName}}
      </th>
    </tr>
    <tr *ngFor="let row of dataErrorOrEmpty">
      <td *ngFor="let col of firstLine">
        {{row[col.colName]}}
      </td>
    </tr>
  </table>

  <div>
    choisir ...
    <div *ngFor="let col of firstLine">
      {{col.colName}}
      <div>Pour les champs faux :
        <select class='form-control' (change)="changeValueFail(col.id,$event)" [value]='0'>
          <option value='deleterow'>Supprimer la ligne</option>
          <option value='deletefield'>Supprimer les champs</option>
          <option value='fillin'>remplir par</option>
          <option value='0'>Non</option>
        </select>
        <input type="text" *ngIf="optionsOptimisationDataFail[col.id].isFillIn" [(ngModel)]="optionsOptimisationDataFail[col.id].fill"/>
      </div>
      <div>Pour les champs vides :
        <select class='form-control' (change)="changeValueEmpty(col.id,$event)" [value]='0'>
          <option value='deleterow'>Supprimer la ligne</option>
          <option value='deletefield'>Supprimer les champs</option>
          <option value='fillin'>remplir par</option>
          <option value='0' selected>Non</option>
        </select>
        <input type="text" *ngIf="optionsOptimisationDataEmpty[col.id].isFillIn" [(ngModel)]="optionsOptimisationDataEmpty[col.id].fill"/>
      </div>
    </div>
  </div>

  <div class="text-center">
      <button type="button" class="btn btn-success btn-s" (click)="submit()">{{'global.btnNext' | translate}}</button>
    </div>
</div>