<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row justify-content-center">
  
    <div class="col-12 col-md-11 col-lg-9 px-1 d-flex justify-content-end btn-navigation mb-5 pt-3">
      <div class="langselect pr-2">
        <a (click)="selectLang('en')"  [class]="isFN ? '' : 'active'">EN</a>
        <span class="px-2">|</span>
        <a (click)="selectLang('fr')" [class]="isFN ? 'active' : ''">FR</a>
      </div>
      <div class="pageselect">
        <!-- Chargement -->
        <a (click)="selectPage(0)" [class]="isUpload ? 'active' : ''">
          {{'home.chargement_Button' | translate}}
        </a>
        
        <!-- Restitution -->
        <a (click)="selectPage(1)" [class]="isRestitution ? 'active' : ''">
            {{'home.Restitution_Button' | translate}}
        </a>
      </div>
    </div>
  </div>
</div>
  
<div class="container chargement">
    <app-upload *ngIf="isUpload"></app-upload>
</div>
    
<app-restitution *ngIf="isRestitution"></app-restitution>
<p>{{responseServer}}</p>