<!--The content below is only a placeholder and can be replaced.-->
<div class="row">

  <div class="col-12 d-flex align-items-center justify-content-center">
    
  </div>
  <div class="col-12 col-md-11 col-lg-9 px-1 btn-navigation mb-5 pt-3">
    <div class="float-right text-center">
      <a (click)="selectPage(0)" [class]="isUpload ? 'active' : ''">Chargement</a>
      <a (click)="selectPage(1)" [class]="isRestitution ? 'active' : ''">Restitution</a>
    </div>
    <div class="clearfix"></div>
  </div>

  <app-upload *ngIf="isUpload"></app-upload>
  <app-restitution *ngIf="isRestitution"></app-restitution>
  <p>{{responseServer}}</p>
</div>