<p>
  first Line:
</p>

<p>
  {{firstLine}}
</p>
<p>
  Use first link:
</p>

<select #selectElem (change)="useFirstLink(selectElem.value)">
  <option [value]="true" [selected]="true">
    yes
  </option>
  <option [value]="false">
    No
  </option>
</select>

<div *ngIf="!isUseFirstLink">
  Names:
      <input type="text" *ngFor="let col of arrayHeaderEmpty" class="form-control" placeholder="column {{col.id +1}}" [(ngModel)]="col.colName" name="col.colName"
        (focus)="$event.target.placeholder = ''" (blur)="$event.target.placeholder = 'column ' + (col.id +1)" />
</div>

<p>
  Delete first link:
</p>

<select #idDeleteFirstLink (change)="deleteFirstLink(idDeleteFirstLink.value)">
  <option [value]="true" [selected]="true">
    yes
  </option>
  <option [value]="false">
    No
  </option>
</select>
<div>
  <button type="button" class="btn btn-success btn-s" (click)="submit()">
    Next
  </button>
</div>