label {min-width: 130px;}

input {
    border: 1px solid #000000;
    padding: 5px 10px;
    border-radius: 3px;
    width: 100%;
    max-width: 300px;
}
textarea {
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid #000000;
}